<!DOCTYPE html>
<html lang="en">
<head>
 <% include partials/head %> 
 <style>
   #formChat {
    position: fixed; 
    bottom: 0%;
    width: calc(100% - 100px);
   }

   .liMe {
    color: darkorange;
   }
   .liOthers {
     color: darkgray;
   }
 </style>
</head>
<body>
<% include partials/menu %>
<div>    
  <h3><%= page %></h3><br>
  <ul id="ulChat"></ul>
  <form id="formChat" onsubmit="return onSubmit(event)">
    <input id="inputChat" class="form-control" placeholder="Chat" autocomplete="off">
    <button class="btn btn-primary">Submit</button>
  </form>
</div>
</body>
<% include partials/script %>
<script src="/socket.io/socket.io.js"></script>
<script>
  const DOMAIN = "http://localhost";
  const PORT= '<%= process.env.PORT %>';

  const socket = io( DOMAIN + ':' + PORT);

  const inputChat = $( '#inputChat' );
  const ulChat = $( '#ulChat' );

  socket.on('my message', function (msg) {
    const liItem = $('<li class="liMe">').text(msg);
    ulChat.append( liItem );
  });
  socket.on('other message', function (msg) {
    const liItem = $('<li class="liOthers">').text(msg);
    ulChat.append( liItem );
  });

  function onSubmit() {
    const text = inputChat.val().trim();

    if( text === '' ) {
      return false;
    }

    socket.emit( 'chat message', text );

    inputChat.val( '' );
    
    return false;
  }
  </script>
</html>